@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.color-transition {
  height: 100%;
  /* background: linear-gradient(#83a4d4, #b6fbff); */
  /* background: linear-gradient(#8EC5FC, #E0C3FC); */
  background: linear-gradient(90deg, #1a535c, #4ecdc4);

}

